.mdp
{
border: 2px solid whitesmoke;
padding: 10rem;
margin-top: 10px;
border-radius: 7px;
display: flex;
justify-content:center;
align-items: center;
width: 50%;
height: 50%;
}

.password-form{
  border: 2px solid whitesmoke;
  border-radius: 7px;

}
.contenu{
  display: flex;
  justify-content:center;
  align-items: center;
}
 .haut1
{
margin-top: 5rem;
width: 50%;
margin-left: 23rem;
padding: 10rem;
}
.haut2
{
  margin-left: 23rem;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 7px;
  max-width: 150px;
  margin-top: 10px;
  font-weight: 600;
  background-color: lightgreen;
}
.haut3{
  max-width: 1050px;
  margin-top: 10px;
  margin-left: 11.5rem;
}
.alert {
  position: relative;
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 50%;
  margin-left: 23rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success strong {
  font-weight: bold;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: #155724;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-close:hover {
  color: #fff;
  background-color: #28a745;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

.fade.show {
  opacity: 1;
}
