

<!--
<div class="haut">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center haut1">
    Platforme nationale de la santé mobile
</div>
<h5 class="h5 haut2">
  Modifier Mots de passe
</h5>
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isDataSaved">
  <strong>Success!</strong> Mots de passe est modifié avec succès.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>

<div class="contenu">
  <div class="mdp">
<div>
    <form class="password-form" [formGroup]="passwordForm" (ngSubmit)="modierMdp()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="currentPassword" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" >Change Password</button>

    </form>

  </div>
  </div>
</div>
-->
<div class="login-box">
  <p>Changer mots de passe</p>
  <form [formGroup]="passwordForm" (ngSubmit)="modierMdp()">
    <div class="user-box">
      <input  matInput type="email" formControlName="email" required>
      <label>Email</label>
    </div>
    <div class="user-box">
      <input matInput type="password" formControlName="currentPassword" required>
      <label>Current Password</label>
    </div>
    <div class="user-box">
      <input matInput type="password" formControlName="newPassword" required>
      <label>New Password</label>
    </div>
    <div class="user-box">
      <input matInput type="password" formControlName="confirmPassword" required>
      <label>Confirm Password</label>
    </div>
    <button mat-raised-button color="primary" type="submit" >Change Password</button>
  </form>
</div>
