
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/login">Login <span class="sr-only">(signUp)</span></a>
        <a class="nav-item nav-link" href="#">About us</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
  </nav>
<img src="../../assets/logopnsm.png" class="img-fluid ">
</header>
<br>

<div class="col-12">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center">
    <button class="invisible-button" (click)="onclick()">
      Bienvenu dans la Plateforme Nationale de la Santé Mobile
    </button>

</div>
</div>




<div class="footer"></div>
