/*
.header {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/logopnsm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 40px;
  background-attachment: fixed;
 }

*/
.invisible-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* Optionally set other styles as needed */
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.image1{
  height: 58vh;
  width: 100%;
}
.slide{
  margin-top: 2rem;

  padding: 35px;
  height: 50vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-12 {
  width: 100%;

}
.bg-grd{
  background-color: #114094;
  background-image: linear-gradient(1601deg,#114094,#6294ed 100%);
  color: white !important;
}
.card{
border: 0 !important;
box-shadow: none !important;
border-radius: 0.5rem;
}
.text-white{
  color: white !important;
}
.text-center{
  text-align: center !important;
}
.fw-bold{
  font-weight: 700 !important;
}
.p-2{
  padding: 0.5rem;
}
 .footer1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh; /* Adjust the height of the footer background image as needed */
  background-image: url('../../assets/si7a.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

.custom-card {
  background-color: #ebebeb; /* Replace "your-desired-color" with your desired background color value */
}
footer{
  padding: 0;
  margin: 0;
  background-color: #4169E1;
}
.footerContainer{

  box-sizing: border-box;
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  background-color: white;
}
.socialIcons a .i{
font-size: 1.65rem;
color: black;
opacity: 0.9;
}
.socialIcons a:hover{
  background-color: black;
  transition: 0.5s;
}

.socialIcons a:hover .i{
color: white;
transition: 0.5s;
}
.footerNav
{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
}
.footerNav {
 color: white;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3rem;
 opacity: 0.7;
 transition: 0.5s;
}
a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;

}
ul
{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  list-style-type: none;
}
li{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.7;
  transition: 0.5s;
}
.hoverme:hover{
  opacity: 1;
  color: white;
}
.head{
  color: black;
}
.footerBottom
{
  background-color: #114094;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px ;
}
