
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link active head" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/login">Login <span class="sr-only">(signUp)</span></a>
        <a class="nav-item nav-link active" routerLink="/aboutus">About us</a>
        <a class="nav-item nav-link active" href="#">Contact</a>
      </div>
    </div>
  </nav>
<img src="../../assets/logopnsm.png" class="img-fluid ">
</header>

<br>

<div class="col-12 ">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center">
    <button class="invisible-button" (click)="onclick()">
      Bienvenu dans la Plateforme Nationale de la Santé Mobile
    </button>
</div>
</div><br>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col left">
    <div class="card left">
      <img src="../../assets/si7a.png" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col right">
    <div class="card">
      <img src="../../assets/si7a.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
<footer>
  <div class="footerContainer">
    <div class="socialIcons">
      <a href="https://www.facebook.com/msps.gov.ma/"><mat-icon class="i">facebook</mat-icon></a>
      <a href=""><mat-icon class="i">linkedin</mat-icon></a>
      <a href=""><mat-icon class="i">instagram</mat-icon></a>
      <a href=""><mat-icon class="i">youtube</mat-icon></a>
    </div>
    <div class="footerNav">
      <ul>
        <li class="hoverme"><a href="">home</a></li>
        <li class="hoverme"><a href="">Actualités</a></li>
        <li class="hoverme"><a routerLink="/aboutus">About us</a></li>
        <li class="hoverme"><a href="">Contactez Nous</a></li>
        <li class="hoverme"><a href="">Notre équipe</a></li>
      </ul>
    </div>
  </div>
  <div class="footerBottom">
    <p>Copyright &copy;2022; Designed by <span class="designer">Adham Karmadi</span></p>
  </div>
</footer>

<!--
<div class="footer1"></div>
-->

