<!--
  <div class="modal-container" checked>
  <div class="modal-backdrop">
    <div class="modal-content">
      <label class="modal-close" for="modal-toggle">x</label>
      <h2>Pnsm</h2>
      <hr />
      <p>Your data has been deleted successfully.</p>
      <label class="modal-close button" for="modal-toggle">Close</label>
    </div>
  </div>
</div>
-->


<div class="modal-container">
  <div class="title">
    <h2>
     PNSM
  </h2>
  <p>Your data has been deleted successfully.</p>
  <button type="button" class="btn-close " aria-label="Close" (click)="closeModal()"></button>
</div>

</div>
