<header class="logout">
  <div class="toframe">
    <button class="button1 btn2">
      modifier mot de passe
  </button>
    <button class=" button1 btn1" (click)="onLogout()">
      logout
  </button>
  </div>
</header>

<div class=" reduce">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center">
    Plan d’action des unités médicales mobiles (UMM)
</div>
<h5 class="h5">
  Détails du plan d'action
</h5>
<div class="toCenter">
<form class="form-container" [formGroup]="myressoure" (ngSubmit)="getRessourcesData()">
  <div class="form" >
    <h5 class="pop">
      <mat-icon class="people">directions_car</mat-icon>
      Population à couvrir par l'équipe mobile
    </h5>
    <h5 class="pop circle-icon">
      <u>Information sur les ressource :</u>
    </h5>
      <span>Année</span>
      <input placeholder="valeur" type="date" class="input2" formControlName="year" required>
      <h5 class="pop circle-icon">
        <u>Information sur le vehicule :</u>
      </h5>
      <span>Vehicule id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="vehicule_id" required>
      <span>Type de vehicule</span>
      <input placeholder="valeur"  type="text" class="input2" formControlName="vehicule_type" required>
      <span>Vehicule age</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="vehicule_age" required>
      <h5 class="pop circle-icon">
        <u>Information sur le Budget :</u>
      </h5>
      <span>Budget id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="budget_id" required>
      <span>Budget des besoins Carburant</span>
      <input placeholder="valeur"  type="number" step="0.01" class="input2" formControlName="budget_besoinCarburant" required>
      <span>Budget Kms Parcourus</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="budget_KmsParcourus" required>
      <h5 class="pop circle-icon">
        <u>Information sur les Besoins :</u>
      </h5>
      <span>Besoins Usm</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="besoinUsm" required>
      <span>Observation</span>
      <input placeholder="valeur"  type="text" class="input2" formControlName="observation" required>
      <span>CSR id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="csr_id" required>
      <div class="button-container">
      <button  type="submit" [disabled]="myressoure.invalid" class=" button1 btn1 " >Send</button>
      <div class="success1" *ngIf="isDataSaved">
        <div class="check">
          <mat-icon>check</mat-icon>
        </div>
        <span class="enrg">
        Enregisté
        </span>

      </div>
      <button  class=" button1 btn1 keyboard" *ngIf="isDataSaved" routerLink="/ressourcesHumaine">
        <mat-icon>keyboard_tab</mat-icon>
      </button>
      </div>
  </div>
</form>
</div>
<br><br><br><br><br><br>
<div class="footer" >
  <div >
  <div class="container3" >
    <img src="../../assets/si7a.png" alt="Footer Image">
  </div>
</div>
</div>
