.h5{

  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 7px;
  max-width: 150px;
  margin-top: 10px;
  font-weight: 600;
  background-color: lightgreen;
}

.check{
  margin-right: 2px;
}

.success1{
  border: 2px solid #270;
  padding: 5px;
border-radius: 10px;
font-weight: lighter;
color: #270;
  background-color: #DFF2BF;
  display: flex; /* Use flexbox to arrange the buttons horizontally */
  justify-content: space-between;
  align-items: center;

}
