
.photo{
  background-image: url('../../assets/pnsmImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  height: 90vh;
  width: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;


}
.err{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D63301;
}
.error{
  border: 1px solid red;
  width: 65%;
  margin-left: 4rem;
  border-radius: 3px;
  color: #D63301;
			background-color: #FFCCBA;
  font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			background-repeat: no-repeat;
			background-position: 10px center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hoho{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .display-4 {
    font-size: 28px;
  }
}

/* Adjust padding and margins for small screens */
@media (max-width: 768px) {
  .jumbotron {
    padding: 1rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .btn-primary {
    margin-top: 1rem;
  }
}

/* Adjust font size for mobile devices */
@media (max-width: 576px) {
  .display-4 {
    font-size: 24px;
  }
  .lead {
    font-size: 14px;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
  .btn-primary {
    margin-top: 0.5rem;
    font-size: 14px;
  }
}

/* Adjust padding and font size for tablets */
@media (max-width: 768px) {
  .jumbotron {
    padding: 1.5rem;
  }
  .display-4 {
    font-size: 32px;
  }
  .lead {
    font-size: 16px;
  }
  .btn-primary {
    margin-top: 1.5rem;
    font-size: 16px;
  }
}
