<div class="body1 map " *ngIf="lastInsertedData"  >
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0 container-table"  id="data-table">


        <tr>
          <th class="myth" scope="col">Description</th>
          <th class="myth" scope="col">Valeur</th>
        </tr>
      <tr>
        <td class="mytd" scope="row">Point de rassemblement</td>
        <td class="mytd">{{ lastInsertedData.pdr }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Distance</td>
        <td class="mytd">{{ lastInsertedData.distance }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Accessibilité</td>
        <td class="mytd">{{ lastInsertedData.accessibility }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">localite</td>
        <td class="mytd">{{ lastInsertedData.localite }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">CSR_ID</td>
        <td class="mytd">{{ lastInsertedData.csr_id }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Date</td>
        <td class="mytd">{{ lastInsertedData.year }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 1</td>
        <td class="mytd">{{ lastInsertedData.t1 }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 2</td>
        <td class="mytd">{{ lastInsertedData.t2 }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 3</td>
        <td class="mytd">{{ lastInsertedData.t3 }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 4</td>
        <td class="mytd">{{ lastInsertedData.t4 }}</td>
      </tr>

    </table>
  </div>
</div>
  <button type="button" *ngIf="lastInsertedData" (click)="downloadTableAsPDF()" class="button1 btn1">Download PDF</button>

