<div class="Tablecontainer "   #test>
  <table *ngIf="populationData.length > 0 " id="data-table" class="table custom-table " >
    <thead>
      <tr>
        <th>Programme</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of populationData">
        <td>Point de rassemblement</td>
        <td>{{ data.pdr }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Distance</td>
        <td>{{ data.distance }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Accessibilité</td>
        <td>{{ data.accessibility }}</td>
       </tr>
        <tr *ngFor="let data of populationData">
          <td>localite</td>
        <td>{{ data.localite }}</td>
       </tr>
       <tr *ngFor="let data of populationData">
        <td>Centre de santé rurale id</td>
        <td>{{ data.csr_id }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Date</td>
        <td>{{ data.year }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Trimestre 1</td>
        <td>{{ data.t1 }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Trimestre 2</td>
        <td>{{ data.t2 }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Trimestre 3</td>
        <td>{{ data.t3 }}</td>
        </tr>
        <tr *ngFor="let data of populationData">
          <td>Trimestre 4</td>
        <td>{{ data.t4 }}</td>
        </tr>

    </tbody>
  </table>
</div>
