*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #114094;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border: solid 3px #114094;
  border-radius: 5px;
}
header h1 {
  margin: 0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.contact-info {
  flex: 1 1 300px;
  max-width: 400px;
}

.map {
  flex: 1 1 500px;
  height: 450px;
  margin-top: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #114094;
  color: #fff;
  text-align: center;
}
iframe{
  left: 0;

  height: 50%;
  width: 100%;
  position: absolute;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
