<header>
  <h1>Contact Us</h1>
</header>
<div class="contact-container">
  <div class="contact-info">
    <h2>Get in touch</h2>
    <p>Email: contact@example.com</p>
    <p>Phone: +1 123-456-7890</p>
    <p>Address: 123 Main Street, City, Country</p>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.2799954199845!2d-6.830891624576194!3d34.011023173172475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76b824b730953%3A0x71150751ecb67123!2sMinist%C3%A8re%20de%20la%20sant%C3%A9%20du%20Maroc!5e0!3m2!1sfr!2sma!4v1691278905138!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<footer>
  <p>&copy; 2023 Contact Us. All rights reserved.</p>
</footer>
