<header>
  <h1>Contact Us</h1>
</header>
<div class="contact-container">
  <div class="contact-info">
    <h2>Get in touch</h2>
    <p>Email: contact@example.com</p>
    <p>Phone: +1 123-456-7890</p>
    <p>Address: 123 Main Street, City, Country</p>
  </div>
  <br>
  
  <div class="map">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th scope="col" style="width: 5%;">#</th>
            <th scope="col" style="width: 15%;">First</th>
            <th scope="col" style="width: 15%;">Last</th>
            <th scope="col" style="width: 15%;">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
<footer>
  <p>&copy; 2023 Contact Us. All rights reserved.</p>
</footer>
