<header class="logout">
  <div class="toframe">
    <button class="button1 btn2" (click)="changePwd()">
      modifier mot de passe
  </button>
    <button class=" button1 btn1" (click)="onLogout()">
      logout
  </button>
  <button type="button" class="btn-close close1" aria-label="Close" (click)="closeModal()"></button>
  </div>
</header>

<div class=" reduce">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center">
    Plan d’action des unités médicales mobiles (UMM)
</div>
<h5 class="h5">
  Détails du plan d'action
</h5>
<div class="toCenter">
<form class="form-container" [formGroup]="myRh" (ngSubmit)="getRHData()">
  <div class="form" >
    <h5 class="pop">
      <mat-icon class="people">directions_car</mat-icon>
      Population à couvrir par l'équipe mobile
    </h5>
    <h5 class="pop circle-icon">
      <u>Information sur les ressources Humaines:</u>
    </h5>
    <span>Année</span>
    <input placeholder="valeur" type="date" class="input2" formControlName="year" required>
    <span>Trimestre</span>
    <input placeholder="valeur" type="number" class="input2" formControlName="trimestre" required>
    <span>Sortie id</span>
    <input placeholder="valeur" type="number" class="input2" formControlName="sortie_id" required>
      <h5 class="pop circle-icon">
        <u>Mode fixe:</u>
      </h5>
      <span>Fixe id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="fixe_id" required>
      <span>Medecin</span>
      <input placeholder="valeur"  type="text" class="input2" formControlName="fixe_medecin" required>
      <span>Infermier</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="fixe_infermier" required>
      <span>Sage Femme</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="fixe_sageFemme" required>
      <span>Chauffeur</span>
      <input placeholder="valeur"  type="number" class="input2" formControlName="fixe_chauffeur" required>
      <span>Appuie</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="fixe_appuie" required>
      <h5 class="pop circle-icon">
        <u>Mode mobile :</u>
      </h5>
      <span>Mobile id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="mobile_id" required>
      <span>Medecin</span>
      <input placeholder="valeur"  type="text" class="input2" formControlName="mobile_medecin" required>
      <span>Infermier</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="mobile_infermier" required>
      <span>Sage Femme</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="mobile_sageFemme" required>
      <span>Chauffeur</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="mobile_chauffeur" required>
      <span>Appuie</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="mobile_appuie" required>
      <span><mat-checkbox formControlName="mobile_technicien" required>Technicien</mat-checkbox></span><br>
      <span>Nombre d’équipes opérationnelle Mobile</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="mobile_emOperationnelle" required>
      <span>CSR id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="csr_id" required>
      <h5 class="pop circle-icon">
        <u>Ressources Humaine Mobilisé :</u>
      </h5>
      <span>RH id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="ressourcesHumaineMobilise_id" required>
      <span>Medecin</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="ressourcesHumaineMobilise_medecin" required>
      <span>Infermier</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="ressourcesHumaineMobilise_infermier" required>
      <span>Sage Femme</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="ressourcesHumaineMobilise_sageFemme" required>
      <span>Chauffeur</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="ressourcesHumaineMobilise_chauffeur" required>
      <span>Appui</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="ressourcesHumaineMobilise_appuie" required>
      <span><mat-checkbox formControlName="ressourcesHumaineMobilise_technicien" required>Technicien</mat-checkbox></span>
      <!--

      <input placeholder="valeur" type="checkbox" value="true" class="input2" formControlName="ressourcesHumaineMobilise_technicien" required>
      -->
      <h5 class="pop circle-icon">
        <u>Nombre d’équipes opérationnelle :</u>
      </h5>
      <input placeholder="valeur" type="number" class="input2" formControlName="emOperationnelle" required>
      <div class="button-container">
      <button *ngIf="!isDataSaved" type="submit" [disabled]="myRh.invalid" class=" button1 btn1 " >Send</button>
      <div class="success1" *ngIf="isDataSaved">
        <div class="check">
          <mat-icon>check</mat-icon>
        </div>
        <span class="enrg">
        Enregisté
        </span>

      </div>
      <button  class=" button1 btn1 keyboard" *ngIf="isDataSaved" routerLink="/modifierETtelecharger">
        <mat-icon>keyboard_tab</mat-icon>
      </button>
      </div>
  </div>
</form>
</div>
<br>
<div class="Tablecontainer tab1" #test *ngIf="isDataSaved">
  <table *ngIf="tableData.length > 0 " id="data-table" class="table custom-table table-condensed" >
    <thead>
      <tr>
        <th>Ressources Humaines</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td>Année</td>
        <td>{{ data.year }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Trimestre</td>
        <td>{{ data.trimestre }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Sortie id</td>
        <td>{{ data.sortie_id }}</td>
       </tr>

       <tr>
        <th >Mode fix</th>
      </tr>
        <tr *ngFor="let data of tableData">
          <td>Id</td>
        <td>{{ data.fixe_id }}</td>
       </tr>
       <tr *ngFor="let data of tableData">
        <td>Medecin</td>
        <td>{{ data.fixe_medecin }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Infermier</td>
        <td>{{ data.fixe_infermier }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Sage femme</td>
        <td>{{ data.fixe_sageFemme }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Chaffeur</td>
        <td>{{ data.fixe_chauffeur }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Appuie</td>
        <td>{{ data.fixe_appuie }}</td>
        <tr>


          <tr>
            <th >Mode mobile </th>
          </tr>
        <tr *ngFor="let data of tableData">
          <td>Id</td>
        <td>{{ data.mobile_id }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Medecin</td>
        <td>{{ data.mobile_medecin }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Infermier</td>
        <td>{{ data.mobile_infermier }}</td>
       </tr>
       <tr *ngFor="let data of tableData">
        <td>Chaffeur</td>
        <td>{{ data.mobile_chauffeur }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Appuie</td>
        <td>{{ data.mobile_appuie }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Techniciens</td>
        <td>{{ data.mobile_technicien }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Employé Operationnel/td>
        <td>{{ data.mobile_emOperationnelle }}</td>
        </tr>
        <tr>
          <th >Ressource Humaines Mobilisées</th>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>CSR id</td>
        <td>{{ data.csr_id }}</td>
      </tr>
      <tr *ngFor="let data of tableData">
        <td>Employé Operationnel</td>
      <td>{{ data.emOperationnelle }}</td>
    </tr>
    <tr *ngFor="let data of tableData">
      <td>Medecin</td>
    <td>{{ data.ressourcesHumaineMobilise_id }}</td>
  </tr>
  <tr *ngFor="let data of tableData">
    <td>La mise à jour</td>
  <td>{{ data.ressourcesHumaineMobilise_medecin }}</td>
</tr>
<tr *ngFor="let data of tableData">
  <td>Infermier</td>
<td>{{ data.ressourcesHumaineMobilise_infermier }}</td>
</tr>
<tr *ngFor="let data of tableData">
  <td>Sage femme</td>
<td>{{ data.ressourcesHumaineMobilise_sageFemme }}</td>
</tr>
<tr *ngFor="let data of tableData">
  <td>Chaffeur</td>
<td>{{ data.ressourcesHumaineMobilise_chauffeur }}</td>
</tr>
<tr *ngFor="let data of tableData">
  <td>Appuie</td>
<td>{{ data.ressourcesHumaineMobilise_appuie }}</td>
</tr>
<tr *ngFor="let data of tableData">
  <td>Technicien</td>
<td>{{ data.ressourcesHumaineMobilise_technicien }}</td>
</tr>
    </tbody>
  </table>
</div>
<br><br><br><br>

<button type="button" *ngIf="isDataSaved" (click)="downloadTableAsPDF()" class="button1 btn1">Download PDF</button>


