
<header class="logout">
  <div class="toframe">
    <button class="button1 btn2" (click)="changePwd()">
      modifier mot de passe
  </button>
    <button class=" button1 btn1" (click)="onLogout()">
      logout
  </button>
  <button type="button" class="btn-close " aria-label="Close" (click)="closeModal()"></button>
  </div>
</header>

<div class=" reduce">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center">
    Plan d’action des unités médicales mobiles (UMM)
</div>
<h5 class="h5">
  Détails du plan d'action
</h5>


<div class="toCenter" >
<form class="form-container" [formGroup]="myprogramme" (ngSubmit)="getProgrammeData()" >
  <div class="form" >
    <h5 class="pop">
      <mat-icon class="people">list</mat-icon>
      Programme prévisionnel des UMM
    </h5>
    <h5 class="pop circle-icon">
      <u>Information sur le programme :</u>
    </h5>

      <span>PDR à couvrir</span>
      <input placeholder="pdr" type="text" class="input2" formControlName="pdr" required>
      <span>Distance entre le centre de santé et le PDR</span>
      <input placeholder="distance"  type="number" class="input2" formControlName="distance" required>
      <span>Accessibilité au PDR</span>
        <select formControlName="accessibility" required>
          <option value="" disabled selected>Choisir une option</option>
          <option value="car">car</option>
          <option value="automobile">automobile</option>
          <option value="camion">camion</option>
          <option value="autre">autre</option>
        </select>

      <span>Liste des localités</span>
      <select formControlName="localite" required>
        <option value="" disabled selected>Choisir une option</option>
        <option value="region1">region1</option>
        <option value="region2">region2</option>
        <option value="autre">autre</option>

      </select>
      <span>CSR_id</span>
      <input placeholder="valeur" type="number" class="input2" formControlName="csr_id" required>
      <span>Année</span>
      <input placeholder="valeur" type="date" class="input2" formControlName="year" required>

      <span>T1</span>
      <input placeholder="trimestre 1"  type="number" class="input2" formControlName="t1" required>
      <span>T2</span>
      <input placeholder="trimestre 2" type="number" class="input2" formControlName="t2" required>
      <span>T3</span>
      <input placeholder="trimestre 3" type="number" class="input2" formControlName="t3" required>
      <span>T4</span>
      <input placeholder="trimestre 4" type="number" class="input2" formControlName="t4" required>

      <div class="button-container">

      <button *ngIf="!isDataSaved" type="submit" [disabled]="myprogramme.invalid" class=" button1 btn1 ">Send</button>

      <div class="success1" *ngIf="isDataSaved">
        <div class="check">
          <mat-icon>check</mat-icon>
        </div>
        <span class="enrg">
        Enregisté
        </span>
      </div>
      <button  class=" button1 btn1 keyboard" *ngIf="isDataSaved" (click)="openModal()">
        <mat-icon>keyboard_tab</mat-icon>
      </button>
      </div>
      <br><br><br>
      <button  type="button"  (click)="updateLastRecord()" class=" button1 btn1 " *ngIf="isDataSaved">Update data</button>

<button type="button" *ngIf="isDataSaved" (click)="DeleteLastData()" class=" button1 btn1 ">
  <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
  </svg>
</button>

  </div>
</form>
</div>


<div class="body1 map " *ngIf="!isTableVisible && isDataSaved"  #test >
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0 container-table" *ngIf="tableData.length > 0 " id="data-table">

      <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngFor="let data of tableData">
        <tr>
          <th class="myth" scope="col">Description</th>
          <th class="myth" scope="col">Valeur</th>
        </tr>
      <tr>
        <td class="mytd" scope="row">Point de rassemblement</td>
        <td class="mytd">{{ data.pdr }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Distance</td>
        <td class="mytd">{{ data.distance }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Accessibilité</td>
        <td class="mytd">{{ data.accessibility }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">localite</td>
        <td class="mytd">{{ data.localite }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">CSR_ID</td>
        <td class="mytd">{{ data.csr_id }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Date</td>
        <td class="mytd">{{ data.year }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 1</td>
        <td class="mytd">{{ data.t1 }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 2</td>
        <td class="mytd">{{ data.t2 }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 3</td>
        <td class="mytd">{{ data.t3 }}</td>
      </tr>
      <tr>
        <td class="mytd" scope="row">Trimestre 4</td>
        <td class="mytd">{{ data.t4 }}</td>
      </tr>
    </div>
    </table>
  </div>
</div>
  <button type="button" *ngIf="!isTableVisible && isDataSaved" (click)="downloadTableAsPDF()" class="button1 btn1">Download PDF</button>



<div class="Tablecontainer" *ngIf="isTableVisible && isDataSaved"  #test>
    <table *ngIf="updatedTableData.length > 0 " id="updated-data-table" class="table custom-table " >
      <thead>
        <tr>
          <th>Point de rassemblement</th>
          <th>Distance</th>
          <th>Accessibilité</th>
          <th>localite</th>
          <th>Centre de santé rurale id</th>
          <th>Date</th>
          <th>Trimestre 1</th>
          <th>Trimestre 2</th>
          <th>Trimestre 3</th>
          <th>Trimestre 4</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of updatedTableData">
          <td>{{ data.pdr }}</td>
          <td>{{ data.distance }}</td>
          <td>{{ data.accessibility }}</td>
          <td>{{ data.localite }}</td>
          <td>{{ data.csr_id }}</td>
          <td>{{ data.year }}</td>
          <td>{{ data.t1 }}</td>
          <td>{{ data.t2 }}</td>
          <td>{{ data.t3 }}</td>
          <td>{{ data.t4 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" *ngIf="isTableVisible && isDataSaved" (click)="downloadTableAsPDF()" class="button1 btn1">Download PDF</button>



  <!--
<div class="Tablecontainer "
 *ngIf="!show"
 #test>

  <table *ngIf="tableData.length > 0 " id="data-table" class="table custom-table " >
    <thead>
      <tr>
        <th>Programme</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td>Point de rassemblement</td>
        <td>{{ data.pdr }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Distance</td>
        <td>{{ data.distance }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Accessibilité</td>
        <td>{{ data.accessibility }}</td>
       </tr>
        <tr *ngFor="let data of tableData">
          <td>localite</td>
        <td>{{ data.localite }}</td>
       </tr>
       <tr *ngFor="let data of tableData">
        <td>Centre de santé rurale id</td>
        <td>{{ data.csr_id }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Date</td>
        <td>{{ data.year }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Trimestre 1</td>
        <td>{{ data.t1 }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Trimestre 2</td>
        <td>{{ data.t2 }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Trimestre 3</td>
        <td>{{ data.t3 }}</td>
        </tr>
        <tr *ngFor="let data of tableData">
          <td>Trimestre 4</td>
        <td>{{ data.t4 }}</td>
        </tr>

    </tbody>
  </table>
</div>

<button type="button" *ngIf="!show" (click)="downloadTableAsPDF()" class="button1 btn1">Download PDF</button>
-->



<br><br>
