
  <div class="modal-dialog" style="width: 40%; padding: 6rem; margin: auto; ">
    <div class="modal-content" style=" border-radius: 10px; border: 2px solid red; ">

      <!-- Modal body -->
      <div class="modal-body"style="margin: 1rem; color: red">
        Veuillez remplire d'abord le formulaire precedent
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="margin: 1rem;">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
