
<div class="Tablecontainer ">
  <div class="card bg-grd p-2 fs-7 text-white fw-bold text-center haut3">
    Platforme nationale de la santé mobile
  </div>
  <div class=" haut2">
  Votre Progrès
  </div>
  <table class="table custom-table ">
    <thead>
      <tr>
        <th></th>
        <th>Action</th>
        <th>Remplissage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Population a couvrir </td>
        <td><button class="mybutton">Ajouter</button></td>
        <td><span class="espace">NaN</span></td>
      </tr>
      <tr>
        <td>Programme previsionel des UMM</td>
        <td><button class="mybutton">Ajouter</button></td>
        <td><span class="espace">NaN</span></td>
      </tr>
      <tr>
        <td>Situation des moyen de mobilité</td>
        <td><button class="mybutton">Ajouter</button></td>
        <td><span class="espace">NaN</span></td>
      </tr>
      <tr>
        <td>Ressources humaines à mobiliser</td>
        <td><button class="mybutton">Ajouter</button></td>
        <td><span class="espace">NaN</span></td>
      </tr>
    </tbody>
  </table>
</div>
